// stylelint-disable function-name-case

@import 'components/print-none/print-none';

@mixin screen-respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin screen-respond-to-max($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

.main .cards {
  --column-min: 300px;
}

.layout {
  &__page {
    max-width: unset;
  }

  &__header {
    background-color: var(--color-headings-bg-inverted);
    color: var(--color-headings-inverted);
    padding-block: 1em;

    &:has(+ .breadcrumb) {
      margin-block-end: 0;
    }

    .header {
      &__logo,
      &__region {
        background-color: inherit;
        color: inherit;
      }

      &__region {
        background-color: inherit;
        color: inherit;
      }
    }
  }

  &__footer {
    background-color: var(--color-footers-bg-inverted);
    color: var(--color-footers-inverted);

    p a {
      background-color: var(--color-footers-bg-link-inverted);
      color: var(--color-footers-link-inverted);
    }
  }

  .layout {
    &__header {
      p a {
        color: var(--color-brand-extra-light);
      }
    }
  }
}

.card {
  background-color: var(--color-backdrop);

  header {
    &:hover,
    &:focus {
      background-color: var(--color-link-hover-bg);

      .meta,
      .page-count {
        color: var(--color-brand-light);
      }

      a {
        background-color: var(--color-link-hover-bg);
        color: var(--color-link-hover);

        &:hover,
        &:focus {
          color: var(--color-brand-extra-light);
        }
      }
    }
  }
}

.main h2.subtitle {
  font-size: var(--fs-xxl);
  margin-block-start: 0;
}

.main article {
  display: block;

  > .content {
    max-width: 100%;
    width: max-content;

    &:has(.sitemap-view) {
      width: 100%;

      li {
        max-width: unset;
      }
    }

    &:has(iframe) {
      width: 100%;

      li {
        max-width: unset;
      }
    }

    &:has(input) {
      width: 100%;

      .content {
        &--bottom {
          width: var(--max-line-width);
        }
      }
    }
  }

  .search-results {
    max-width: var(--max-line-width);

    ~ .content {
      max-width: var(--max-line-width);
    }
  }

  .content {
    &--bottom {
      width: 100%;
    }
  }
}

.main article li > pre > code {
  white-space: pre-wrap;
}

// DFD-Zen additions

.main article pre {
  max-height: unset;
  max-width: 100%;
}

@media (min-width: 140ch) {
  body.columns .main article,
  body.columns .main > .content {
    .content {
      &--main {
        columns: 2;
        margin-block-end: 2em;
        margin-block-start: 1em;
        max-width: calc(min(calc(100vw - 20em - 2 * var(--gutters)), 2 * var(--max-line-width)));

        h2:first-of-type {
          margin-block-start: 0;
        }
      }
    }
  }
}

@media print {
  body.columns .main article,
  body.columns .main {
    > .content {
      width: 100%;
    }
  }

  body.columns .main article,
  body.columns .main > .content {
    .content {
      &--main {
        max-width: 100%;

        h2.icon-link > span {
          display: none;
        }
      }
    }
  }
}

// DFD-Zen custom styles

.presentation-pdf {
  margin-left: auto;
  margin-right: auto;
}

.resume-pdf,
.poster-pdf {
  margin-left: auto;
  margin-right: auto;
}

.resume-pdf-iframe,
.poster-pdf-iframe {
  height: calc(1.4 * (100% - 1rem));
  max-width: 100%;
  min-height: 490px;
  min-width: 360px;
  width: 100%;
}

.presentation-pdf-iframe {
  height: calc(.9 * (100% - 1rem));
  max-width: 100%;
  min-height: 240px;
  min-width: 360px;
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .resume-pdf-iframe,
  .poster-pdf-iframe {
    height: calc(1.34 * 26rem);
  }

  .presentation-pdf-iframe {
    height: calc(.85 * 26rem);
  }
}

@media screen and (min-width: 84rem) {
  .resume-pdf-iframe,
  .poster-pdf-iframe {
    height: calc(1.1 * 40rem);
  }

  .presentation-pdf-iframe {
    height: calc(.66 * 40rem);
  }
}

.image.about-photo {
  display: block;
  float: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.image.side-by {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: .4em;
  max-width: 49%;
  vertical-align: middle;

  ~ p {
    display: inline-block;
    max-width: 49%;
  }
}

.main .introduction-card {
  align-self: flex-start;
  flex: 1 1 45%;
  margin-bottom: 1rem;
}

.main .introduction-card a,
.main .about-photo a {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main .introduction-card img,
.main .about-photo img {
  border: 1px solid var(--color-border);
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main .about-photo {
  flex: 1 1 45%;
  display: block;
  margin-bottom: 1rem;
}

.two-image-wrapper {
  align-content: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 48em) {
  .two-image-wrapper {
    align-content: space-between;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .main .about-photo {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 48em) {
  .two-image-wrapper {
    align-content: space-between;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .main .about-photo {
    margin-right: 1rem;
  }
}

.side-by-figure.image {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.side-by-figure.image a {
  display: block;
  height: 100%;
  width: 100%;
}

.side-by-figure.image img {
  height: auto;
  width: 100%;
}

.image.half-width {
  width: 50%;
}

.image.three-quarter-width {
  width: 75%;
}

// article .highlight .chroma {
//   background-color: var(--color-code-bg);
// }

// DFD-Zen Overrides

li > p {
  margin-bottom: 0;
  margin-top: 0;
}

.main .content li sup a {
  min-height: unset;
  min-width: unset;
}

.main .content li a {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
}

.header .header {
  &__brand {
    max-width: 75%;
  }
}

.sidebar .menu {
  background-color: var(--color-brand-light);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: .1rem;
  padding-left: var(--gutters);
  padding-right: var(--gutters);
  padding-top: .1rem;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  ul {
    @extend %ul-straight-left;
  }

  p.title ~ ul {
    margin-block-start: 0;
  }
}

.article {
  // DFD-Zen override
  code {
    font-size: var(--fs-xs);
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
  }

  // DFD-Zen override
  pre {
    border-radius: var(--radius-xs);
    padding: 5px;
    border: 1px solid var(--color-border-light);
    background-color: var(--color-text-bg);
    hyphens: none;
    overflow: auto;
    max-height: 300px;
    max-width: 90vw;

    &.chroma {
      max-height: initial;
      overflow-x: scroll;
    }

    & > code {
      display: inline-block;
      white-space: pre;
    }
  }
}

// Zen: Navigation (with DFD-Zen overrides)

.main-menu {
  margin-top: 1em;

  a {
    background-color: var(--color-menu-bg);
    color: var(--color-menu);

    &:active,
    &[aria-current] {
      background-color: var(--color-menu-active-bg-inverted);
      color: var(--color-menu-active-inverted);

      &:hover,
      &:focus {
        background-color: var(--color-menu-active-inverted);
        color: var(--color-menu-active-bg-inverted);
      }
    }

    &:hover,
    &:focus {
      background-color: var(--color-menu-hover-bg-inverted);
      color: var(--color-menu-hover-inverted);
    }
  }

  .navbar {
    margin-block-end: 1em;
    min-height: 48px;

    li {
      margin-block-start: auto;

      a {
        align-items: center;
        display: inline-flex;
        flex-flow: row wrap;
        min-height: 40px;
      }
    }
  }
}

// DFD-Zen overrides

.header {
  &__brand {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    max-width: 75%;
    overflow-y: hidden;

    &:hover,
    &:focus {
      background-color: var(--color-brand-dark);
      color: var(--color-brand-extra-light);

      a {
        background-color: var(--color-brand-dark);
        color: var(--color-brand-extra-light);

        &:hover,
        &:focus {
          background-color: var(--color-brand-dark);
          color: var(--color-brand-extra-light);
        }
      }
    }

    a {
      &:hover,
      &:focus {
        background-color: var(--color-brand-light);
        color: var(--color-link-hover-inverted);
      }
    }
  }

  &__logo {
    &-image {
      margin-block: unset;
      vertical-align: middle;
    }
  }

  &__site-name {
    font-size: var(--fs-xl);
    line-height: 1;
    margin-left: 1rem;
  }

  &__site-link {
    &:link,
    &:visited {
      color: var(--color-link-visited-inverted);
    }
  }
}

.sidebar .menu a {
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-bg);
    color: var(--color-link-hover);
  }
}

// DFD-Zen additions

.toc {
  background-color: var(--color-brand-light);
  padding-bottom: .1rem;
  padding-top: .1rem;

  nav {
    font-family: var(--ff-body);
  }
}

// DFD-Zen additions

.content .sitemap-view {
  ul {
    box-sizing: border-box;
    display: block;
    list-style-position: inside;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    > li {
      box-sizing: border-box;
      list-style-position: inside;
      list-style-type: none;

      > a {
        box-sizing: border-box;
        display: block;
        padding: .4em;
        text-decoration: none;

        &:active,
        &:hover {
          box-sizing: border-box;
        }

        span {
          box-sizing: border-box;

          &:active,
          &:hover {
            box-sizing: border-box;
          }
        }
      }

      &:not(section-list-item) > a {
        &:hover,
        &:active {
          background-color: var(--color-link-hover-bg);
          color: var(--color-link-hover);
        }

        &:active {
          background-color: var(--color-link-active-inverted);
          color: var(--color-link-active);
        }

        &:hover {
          background-color: var(--color-link-hover-bg);
          color: var(--color-link-hover);
        }
      }
    }

    ul .section-list-item {
      padding-inline-start: 2em;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      ul .section-list-item {
        padding-inline-start: 2em;
      }
    }

    > ul ul {
      width: unset;
    }
  }

  a.section-link {
    background-color: var(--color-brand-light);
    border: 1px solid var(--color-border);
    margin-bottom: .4em;

    &:hover {
      background-color: var(--color-link-hover-bg);
      color: var(--color-link-hover);
    }

    &:active {
      background-color: var(--color-link-active);
      color: var(--color-link-active-inverted);
    }

    &:active:hover {
      background-color: var(--color-link-hover-bg);
      color: var(--color-link-hover);
    }
  }
}

// DFD-Zen additions

blockquote {
  border-left: solid 4px;
  padding-left: 1rem;
  padding-right: 1em;

  p {
    margin-bottom: 0;

    ~ p {
      margin-top: 1em;
    }
  }
}

// DFD-Zen additions

code,
pre {
  tab-size: 3;
}

a:hover,
a:active {
  code:not([data-lang]),
  kbd,
  samp {
    background-color: var(--color-code-bg);
  }
}

// DFD-Zen additions

pre,
pre code {
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-all;
}

// DFD-Zen additions

pre,
.pre {
  white-space: pre-wrap;
}

// DFD-Zen additions

pre code {
  display: block;
  line-height: 2;
  white-space: pre-wrap;
  width: 100%;
}

// DFD-Zen additions

.main .highlight > .chroma > code {
  white-space: pre-wrap;
}

// DFD-Zen additions

.main .highlight > .chroma > code > span {
  word-break: break-all;
  overflow-wrap: break-word;
}

@supports (overflow-wrap: anywhere) {
  .main .highlight > .chroma > code > span {
    overflow-wrap: anywhere;
  }
}

// DFD-Zen overrides

main table {
  background: var(--color-backdrop);
  border: solid 2px;
}

main table:not(.no-responsive-table) {
  @extend %responsive-table;
}

main table:not(.no-zebra-table) {
  @extend %zebra-table;
}

main table tr {
  td,
  th {
    border: solid 1px;
  }

  th {
    border-bottom: 3px groove;
  }
}

// DFD-Zen overrides

.content--endnote {
  border-top: 1px solid;
  margin-left: auto;
  padding: 1.5rem;
  width: fit-content;
}

// DFD-Zen: Paragraphs that are titles (as in sidebar)

p.title {
  // Add vertical rhythm margins.
  @include margin-block(.5);
}

// DFD-Zen overrides

.main header {
  width: 100%;
}

.main .content {
  ol,
  ul {
    & > li {
      overflow-wrap: break-word;
    }
  }

  &--bottom,
  &--endnote {
    width: 100%;
  }
}

@supports (overflow-wrap: anywhere) {
  .main .content {
    ol,
    ul {
      & > li {
        overflow-wrap: anywhere;
      }
    }
  }
}

// DFD-Zen overrides

.chroma .line {
  border: 1px dashed;
  width: 100%;
}

.front .main .content .icon-inline:first-child,
.main .title,
.main > article > header > .title {
  margin-block-start: 0;
}

.front .main .content .icon-inline:first-child {
  font-size: var(--fs-xxl);
}

.breadcrumb {
  background-color: var(--color-brand-dark);
  color: var(--color-headings);
  grid-area: breadcrumb;
  padding-inline: var(--gutters);
  outline: 0;

  ul {
    color: var(--color-headings);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none inside;
    margin: 0;
    padding-inline: .6em;

    li {
      display: block;
      min-height: 40px;
      min-width: 40px;
      padding-block: 8px;

      &:last-child::after {
        content: '';
      }

      &::after {
        background-color: var(--color-brand-dark);
        color: var(--color-text-bg);
        content: '>';
        min-width: 40px;
        padding-inline: .1em;
      }
    }

    a {
      background-color: var(--color-brand-dark);
      color: var(--color-text-bg);
      display: inline;
      flex: 1 0 40px;
      padding-inline: .1em;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: var(--color-brand);
        text-decoration: underline;
      }

      &:active {
        background-color: var(--color-brand-light);
        color: var(--color-text);
        text-decoration: underline;
      }
    }
  }
}

@supports (display: grid) {
  .layout {
    &__page {
      display: grid;
      grid-template-areas:
        'head'
        'breadcrumb'
        'nav'
        'top'
        'main'
        'side1'
        'side2'
        'bottom'
        'foot'
        'notice';
      grid-template-rows:
        auto
        auto
        auto
        auto
        1fr
        auto
        auto
        auto
        auto
        auto;
      grid-template-columns: 1fr;
    }

    @include screen-respond-to(xl) {
      &__page {
        grid-template-rows:
          auto
          auto
          auto
          auto
          1fr
          auto
          auto
          auto;
      }

      &__sidebar-first {
        grid-template-areas:
          'head head'
          'breadcrumb breadcrumb'
          'nav nav'
          'side1 top'
          'side1 main'
          'side1 bottom'
          'foot foot'
          'notice notice';
        grid-template-columns:
          1fr
          2fr;
      }

      &__sidebar-second {
        grid-template-areas:
          'head head'
          'breadcrumb breadcrumb'
          'nav side2'
          'top side2'
          'main side2'
          'bottom side2'
          'foot foot'
          'notice notice';
        grid-template-columns:
          2fr
          1fr;
      }

      &__sidebar-two {
        grid-template-areas:
          'head head head'
          'breadcrumb breadcrumb breadcrumb'
          'nav nav side2'
          'side1 top side2'
          'side1 main side2'
          'side1 bottom side2'
          'foot foot foot'
          'notice notice notice';
        grid-template-columns:
          1fr
          2fr
          1fr;
      }
    }

    @include screen-respond-to(xxxl) {
      &__sidebar-second {
        grid-template-areas:
          'head head'
          'breadcrumb breadcrumb'
          'nav side2'
          'top side2'
          'main side2'
          'bottom side2'
          'foot foot'
          'notice notice';
        grid-template-columns:
          calc(100% - 20em)
          20em;
      }
    }
  }

  .sidebar.layout {
    &__second-sidebar {
      margin-top: 1em;
    }
  }
}

a {
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-bg);
    color: var(--color-link-hover);
  }
}

.toc li a {
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-inverted);
    color: var(--color-link-hover-bg-inverted);
  }
}

.footer a {
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-bg-inverted);
    color: var(--color-link-hover-inverted);
  }
}

header.header.layout {
  &__header {
    @extend %print-none;
  }
}

h1 + .submitted.meta {
  @extend %print-none;
}

.content-dates.meta {
  @extend %print-none;
}

.main > header > .title {
  margin-block-start: 0;
}

article .highlight pre.chroma {
  overflow-x: hidden;
}

[type='email'] {
  width: Min(30em, 100%);
}

.main {
  > .content {
    max-width: 100%;
    width: max-content;
  }
}

.main article:has(input) {
  .content {
    &--bottom {
      max-width: 100%;
    }
  }
}

.footer a {
  line-height: 1.75rem;
  margin-block: 4px;
  padding-block: 4px;
}

.list-page .main,
.single-page header {
  p.subtitle {
    font-size: var(--fs-l);
    font-style: italic;
  }
}
