{{ define "title" }}
{{- $pageTitle := .Title -}}
{{- if gt (len ($pageTitle | htmlEscape)) 70 -}}
  {{- errorf "%s title '%'s > 70 characters" .TranslationKey $pageTitle -}}
{{- end -}}
{{- if .IsHome }}{{ site.Title }}{{ else }}{{ $pageTitle }}{{ end }}
{{- end -}}

{{ define "main" -}}
{{- $pmctx := . -}}
{{- $showChildPages := (cond (isset .Params "showchildpages") (.Params.showChildPages) (cond (isset site.Params "showchildpages") (site.Params.showChildPages) true)) -}}
{{- if .IsHome -}}
  {{- $showChildPages = or (cond (isset .Params "showchildpages") (.Params.showChildPages) false) (cond (isset site.Params "showchildpages") (site.Params.showChildPages) false) -}}
{{- end -}}

{{- $showChildCards := or (.Param "showChildCards") false -}}
{{- $showChildCardsTop := or (.Param "showChildCardsTop") false -}}

<main class="main layout__main">
{{ if not .IsHome -}}
  <header>
    <h1 class="title">{{ replaceRE  `^(.+) \[.+\]$` "$1" .Title }}</h1>
    {{- if findRE `^.+ \[.+\]$` .Title }}
    <p class="subtitle">{{ replaceRE `^.+ \[(.+)\]$` "$1" .Title }}</p>
    {{- end -}}
  </header>
{{ else -}}
{{ with (.Param "subtitle") }}<header><h2 class="subtitle">{{ . }}</h2></header>{{ end }}
{{- end }}

{{- $frontCardPages := (((partial "helpers/find-all-sub-pages-including-section.html" site.Home.Page).ByPublishDate).Reverse).ByWeight -}}
{{- if $pmctx.IsHome -}}
  {{- if $showChildCardsTop }}
<div class="cards">
    {{ range where $frontCardPages "Params.frontCard" "eq" true }}
      {{ partial "card.html" (dict "Page" . "Caller" $pmctx) -}}
    {{ end -}}
</div>
  {{- end }}
{{- else -}}
{{- if $showChildCardsTop }}
{{- $frontCardPages := (((partial "helpers/find-all-sub-pages-including-section.html" $pmctx).ByPublishDate).Reverse).ByWeight -}}
<div class="cards">
    {{ range where $frontCardPages "Params.card" "eq" true }}
      {{ partial "card.html" (dict "Page" . "Caller" $pmctx) -}}
    {{ end -}}
</div>
  {{- end }}
{{- end -}}

{{- if ne ($pmctx.Param "bottomContent") true -}}
  {{ partial "page-content.html" $pmctx -}}
{{- end -}}

{{- $pages := $pmctx.Data.Pages -}}
{{- $cardPages := (((partial "helpers/find-all-sub-pages-including-section.html" $pmctx).ByPublishDate).Reverse).ByWeight -}}
{{- if $pmctx.IsHome -}}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end -}}
{{- if $showChildCards -}}
<div class="cards">
  {{ range where $cardPages "Params.card" "eq" true }}
    {{ partial "card.html" (dict "Page" . "Caller" $pmctx) -}}
  {{ end -}}
</div>
{{ end -}}
{{ if $showChildPages -}}
  {{ with $pmctx -}}
    {{- $paginator := .Paginate .Data.Pages -}}
    {{- range $paginator.Pages -}}
      {{ partial "summary.html" (dict "Page" . "Caller" $pmctx) }}
    {{ end -}}
    {{ partial "pagination.html" . }}
  {{ end -}}
{{ end }}

{{- if eq ($pmctx.Param "bottomContent") true -}}
  {{ partial "page-content.html" $pmctx -}}
{{- end -}}
</main>
{{ end -}}
