<p class="error message js-hidden">{{ i18n "js_required" }}</p>
<p class="search-loading status message hidden">{{ i18n "search_loading" }}</p>

<div class="search-input hidden">
  <form id="search-form" class="search-form" action="#" method="post" accept-charset="UTF-8" role="search">
    <label for="query" class="visually-hidden">{{ i18n "search_title" }}</label>
    <input type="search" id="query" name="query" class="search-text" placeholder="{{ i18n "search_placeholder" }}" maxlength="128">
    <button type="submit" name="submit">{{ i18n "search_title" }}</button>
  </form>
</div>

<div class="search-results"></div>

<template>
  <article class="search-result list-view">
    <header>
      <h2 class="title mb--xxs"><a href="#">Title here</a></h2>
      <div class="submitted"><time class="created-date">2023-11-22T09:43:00-0500</time></div>
    </header>
    <div class="content">Summary here</div>
  </article>
</template>
