{{ $alt := .Get "alt" -}}
{{ $attr := .Get "attr" -}}
{{ $attrlink := .Get "attrlink" -}}
{{ $caption := .Get "caption" -}}
{{ $class := .Get "class" -}}
{{/* When noImageConvert is false, convert all images to specified format (default 'webp') */ -}}
{{ $convertTo := .Get "convertTo" | default (cond (ne (.Page.Param "noImageConvert") false) "" (.Page.Param "imageConvertTo" | default "webp")) -}}
{{ $height := .Get "height" -}}
{{ $link := .Get "link" -}}
{{ $size := .Get "size" | default .Page.Params.imageSize | default site.Params.imageSize -}}
{{ $src := .Get "src" -}}
{{ $srcset := .Get "srcset" | default (cond (ne (.Page.Param "noSrcSetDefault") false) "" (.Page.Param "imageSrcSet" | default "480 720 1080 1280 1600 2048")) -}}
{{ $title := .Get "title" -}}
{{ $width := .Get "width" -}}

{{ $finalImage := partial "helpers/process-images.html" (dict
  "convertTo" $convertTo
  "height" $height
  "Page" .Page
  "size" $size
  "src" $src
  "srcset" $srcset
  "width" $width
) -}}

{{ if not $finalImage.src -}}
{{ warnf "%s shortcode number %d in \"content/%s\" is missing the \"src\" attribute." .Name .Ordinal .Page.File.Path -}}
{{ else if not (or $finalImage.static $finalImage.resource) -}}
{{ warnf "%s shortcode number %d in \"content/%s\" has an error in the \"src\" attribute." .Name .Ordinal .Page.File.Path -}}
{{ end -}}

<figure class="image{{ with $class }} {{ . }}{{ end }}">
{{ with $link }}<a href="{{ . }}">{{ end -}}
<img src="{{ $finalImage.src }}"{{ with $finalImage.srcsetw }} sizes="80vw" srcset="{{ delimit  .  ", " }}"{{ end }}{{ if isset .Params "alt" }} alt="{{ $alt }}"{{ end }}{{ with $finalImage.width }} width="{{ . }}"{{ end }}{{ with $finalImage.height }} height="{{ . }}"{{ end }}>
{{- if $link }}</a>{{ end }}
{{ if or $title $caption $attr -}}
<figcaption>
{{ with $title }}<strong>{{ . }}</strong><br>{{ end -}}
{{- $caption | markdownify }}{{ if and $caption $attr }} {{ end -}}
{{ with $attrlink }}<a href="{{ . }}">{{ end }}{{ $attr | markdownify }}{{ if $attrlink }}</a>{{ end -}}
</figcaption>
{{ end -}}
</figure>
